.pmu-filter-section {display: flex; justify-content: space-between; margin-bottom: 1rem; }

.pmu-filter-heading h2 {font-size:24px; font-weight: 600; margin: 0; padding: 0; color:var(--yellowlight); }

.pmu-search-filter input.form-control {background: var(--gray, #FFF); border-radius: 5px; font-size: 13px; border: 1px solid var(--gray, #FFF); font-weight: 400; height: auto; padding: 0.6rem 0.6rem; outline: 0; width: 100%; display: inline-block; color: var(--light-black, #6A6A6A); }
.pmu-search-filter select.form-control {background: var(--gray, #FFF); border-radius: 5px; font-size: 14px; border: 1px solid var(--gray, #FFF); font-weight: 400; height: auto; padding: 0.8rem 0.6rem; outline: 0; width: 100%; color: var(--light-black, #6A6A6A); appearance: revert; }
.pmu-search-filter textarea.form-control {background: var(--gray, #FFF); border-radius: 5px; font-size: 14px; border: 1px solid var(--gray, #FFF); font-weight: 400; height: auto; padding: 0.8rem 0.94rem; outline: 0; width: 100%; display: inline-block; color: var(--light-black, #6A6A6A); }
.pmu-search-filter .form-control:focus {border: 1px solid var(--gray); }
.search-form-group {position: relative; } 
.search-form-group input.form-control {padding-right: 2rem; } 
.search-form-group span.search-icon {position: absolute; right: 10px; top: 7px; }
a.Accountapproval-btn {border-radius: 5px; background: var(--yellowbtn, #261313); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase; width: 100%; display: inline-block; position: relative; outline: none; }
button.Accountapproval-btn {border-radius: 5px; background: var(--yellowbtn, #261313); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase; width: 100%; display: inline-block; position: relative; outline: none; border: none;}
a.newcourse-btn {border-radius: 5px; background: var(--yellowbtn, #261313); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase; width: 100%; display: inline-block; position: relative; outline: none; }

.creator-table-item{background: var(--gray, #ffffff); position: relative; margin-bottom: 10px; padding: 10px; display: flex; border-radius: 10px; border-bottom: 2px solid var(--gray, #261313); align-items: center; color: var(--white);}

.creator-table-box {padding: 10px 0; }
 .creator-table-col-1 {flex: 0 0 auto; width: 8.33333333%; }
.creator-table-col-2 {flex: 0 0 auto; width:16.66666667%; }
.creator-table-col-3 {flex: 0 0 auto; width:25%; }
.creator-table-col-4 {flex: 0 0 auto; width:33.33333333%; }
.creator-table-col-5 {flex: 0 0 auto; width:41.66666667%; }
.creator-table-col-6 {flex: 0 0 auto; width: 50%; }
.creator-table-col-7 {flex: 0 0 auto; width:58.33333333%; }
.creator-table-col-8 {flex: 0 0 auto; width:66.66666667%; }
.creator-table-col-9 {flex: 0 0 auto; width:75%; }
.creator-table-col-10 {flex: 0 0 auto; width: 83.33333333%; }
.creator-table-col-11 {flex: 0 0 auto; width: 91.66666667%; }
.creator-table-col-12 {flex: 0 0 auto; width: 100%; }

.mon-table-content{padding: 0 15px; min-height: 150px;}
.border-left-right {border-left: 1px solid #b6cbdf; border-right: 1px solid #b6cbdf; }
.border-left{border-left: 1px solid #b6cbdf;  }

.creator-profile-info {display: flex; align-items: center; } 
.creator-profile-image {width: 60px; height: 60px; position: relative; overflow: hidden; margin-right: 10px; border-radius:50px; }
.creator-profile-image img{width: 100%; height: 100%; object-fit: cover; background-color: var(--white);}
.creator-profile-text{flex: 1}
.creator-profile-text  h2 {color: var(--yellowlight, #6A6A6A); font-size: 16px; font-style: normal; font-weight: 500; line-height: normal; margin: 0 0 5px 0; padding: 0; }
.creator-profile-text p {color: var(--yellowlight, #6A6A6A); font-size: 14px; font-style: normal; font-weight: 400; line-height: normal; text-align: justify; margin: 0; }


.creator-table-text{color: var(--yellowlight, #6A6A6A); font-size: 16px; font-style: normal; font-weight: 500; line-height: normal; margin: 0 0 5px 0; padding: 0; }
.creator-table-value{color: var(--yellowlight, #6A6A6A); font-size: 14px; font-style: normal; font-weight: 400; line-height: normal; margin: 0; }


a.btn-go {width: 42px; height: 42px; border: 1px solid var(--yellow); display: inline-block; text-align: center; line-height: 40px; border-radius: 5px; background: var(--yellowbtn); box-shadow: 0px 4px 12px 0px rgba(182, 0, 248, 0.06); color: var(--white, #FFF); }


.PaymentRequest-form-info .form-group{margin-bottom: 1rem;}
.PaymentRequest-form-info{text-align: center;}

.cancel-btn{border-radius: 5px; background: var(--yellowbtn, #261313); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase;  border: none;display: inline-block; position: relative; outline: none; }
.save-btn{border-radius: 5px; background: var(--yellowbtn, #261313); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase;border: none; display: inline-block; position: relative; outline: none; }

.PaymentRequest-form-info h2 {font-size: 16px; font-weight: 600; margin: 0 0 1rem 0; padding: 0; text-align: center;color: var(--black); }
.PaymentRequest-form-info .form-group{margin-bottom: 1rem;}
.PaymentRequest-form-info .form-group select.form-control {background:var(--gray); border-radius: 5px; font-size: 14px; font-weight: 400; height: auto; padding: 10px; box-shadow:none; outline: 0; width: 100%; display: inline-block; color: var(--white); border: 1px solid var(--inputline); }
.PaymentRequest-form-info .form-group input.form-control {background:var(--gray); border-radius: 5px; font-size: 14px; font-weight: 400; height: auto; padding: 10px; box-shadow:none; outline: 0; width: 100%; display: inline-block; color: var(--white); border: 1px solid var(--inputline); }
.PaymentRequest-form-info .form-group textarea.form-control {background:var(--gray); border-radius: 5px; font-size: 14px; font-weight: 400; height: auto; padding: 10px; box-shadow:none; outline: 0; width: 100%; display: inline-block; color: var(--white); border: 1px solid var(--inputline); }

.PaymentRequest-form-info .form-group .form-control:focus {border: 1px solid var(--graylight); }