.pmu-filter-section {display: flex; justify-content: space-between; margin-bottom: 1rem; }

.pmu-filter-heading h2 {font-size:24px; font-weight: 600; margin: 0; padding: 0; color:var(--lightblack); }

.pmu-search-filter input.form-control {background: var(--white, #FFF); border-radius: 5px; font-size: 13px; border: 1px solid var(--white, #FFF); font-weight: 400; height: auto; padding: 0.6rem 0.6rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: var(--light-black, #6A6A6A); }
.pmu-search-filter select.form-control {background: var(--white, #FFF); border-radius: 5px; font-size: 14px; border: 1px solid var(--white, #FFF); font-weight: 400; height: auto; padding: 0.8rem 0.6rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; color: var(--light-black, #6A6A6A); appearance: revert; }
.pmu-search-filter textarea.form-control {background: var(--white, #FFF); border-radius: 5px; font-size: 14px; border: 1px solid var(--white, #FFF); font-weight: 400; height: auto; padding: 0.8rem 0.94rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: var(--light-black, #6A6A6A); }
.pmu-search-filter .form-control:focus {border: 1px solid #f28520; }
.search-form-group {position: relative; } 
.search-form-group input.form-control {padding-right: 2rem; } 
.search-form-group span.search-icon {position: absolute; right: 10px; top: 7px; }
.newcourse-btn {border-radius: 5px; background: var(--brown, #261313); box-shadow: 0px 4px 12px 0px rgba(182, 0, 248, 0.06); padding: 12px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase; width: 100%; display: inline-block; position: relative; outline: none; }



.myaccount-card{position: relative; background:var(--white); border-radius:0 0  5px 5px; box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.05); margin-bottom: 1rem; }



.pmu-tab-nav {background: var(--brown); margin-bottom: 0; border-radius: 5px 5px 0 0; padding: 10px }
.pmu-tab-nav .nav.nav-tabs{border-bottom: none;}
.pmu-tab-nav .nav.nav-tabs .nav-item .nav-link {font-size: 14px; text-transform: uppercase; color: var(--white);border-bottom: 2px solid transparent; !important;border: none;  }
.pmu-tab-nav .nav.nav-tabs .nav-item .active.nav-link,
.pmu-tab-nav .nav-tabs .nav-link:focus, 
.pmu-tab-nav .nav-tabs .nav-link:hover{border-bottom: 2px solid var(--yellow) !important; border-radius: 0; border: none; color: var(--yellow); }


.myaccount-card-form {padding: 1rem; }
.myaccount-card-form .form-group {margin-bottom: 1rem; }
.myaccount-card-form .form-group h4 {font-size: 14px; font-weight: 600; margin: 0 0 0px 0; padding: 0; color: var(--lightblack, #6A6A6A); }
.myaccount-card-form .form-group input.form-control {background:var(--white); border-radius: 5px; font-size: 14px; font-weight: 400; height: auto; padding: 10px; box-shadow:none; outline: 0; width: 100%; display: inline-block; color: #455A64; border: 1px solid #eee; }
.myaccount-card-form .form-group select.form-control  {background:var(--white); border-radius: 5px; font-size: 14px; font-weight: 400; height: auto; padding: 10px; box-shadow:none; outline: 0; width: 100%; display: inline-block; color: #455A64; border: 1px solid #eee; appearance: revert; }
.myaccount-card-form .form-group textarea.form-control{background:var(--white); border-radius: 5px; font-size: 14px; font-weight: 400; height: auto; padding: 10px; box-shadow:none; outline: 0; width: 100%; display: inline-block; color: #455A64; border: 1px solid #eee; }
.myaccount-card-form .form-group .form-control:focus {border: 1px solid var(--yellow); }
.cancelbtn{border-radius: 5px; background: var(--brown, #261313); box-shadow: 0px 4px 12px 0px rgba(182, 0, 248, 0.06); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase;  border: none;display: inline-block; position: relative; outline: none; }
.Createbtn{border-radius: 5px; background: var(--brown, #261313); box-shadow: 0px 4px 12px 0px rgba(182, 0, 248, 0.06); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase;border: none; display: inline-block; position: relative; outline: none; }

.arkradio label {position: relative; display: inline-block; padding: 0 0 0 2em; margin-bottom: 0; cursor: pointer; font-size: 14px; }
.arkradio label::before, 
.arkradio label::after {position: absolute; top: 0; left: 0; display: block; width: 24px; height: 24px; } 
.arkradio label::before {content: " "; border: 2px solid #e5eaed; -webkit-border-radius: 100%; -moz-border-radius: 100%;-ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; } 
.arkradio input[type="radio"] {position: absolute; opacity: 0; z-index: -1; margin: 0; } 
.arkradio input[type="radio"] + label::after {content: ""; top: 4px; left: 4px; width: 16px; display: none; height: 16px;position: absolute; border-radius: 100%; background-color: #e0b220; } 
.arkradio input[type="radio"]:checked + label::before {border-color: #261313; } 
.arkradio input[type="radio"]:checked + label::after {display: block; }