.pmu-filter-section {display: flex; justify-content: space-between; margin-bottom: 1rem; }

.pmu-filter-heading h2 {font-size:24px; font-weight: 600; margin: 0; padding: 0; color:var(--yellowlight); }

.pmu-search-filter input.form-control {background: var(--gray); border-radius: 5px; font-size: 13px; border: 1px solid var(--gray); font-weight: 400; height: auto; padding: 0.6rem 0.6rem; outline: 0; width: 100%; display: inline-block; color: var(--light-black, #6A6A6A); }
.pmu-search-filter select.form-control {background: var(--gray); border-radius: 5px; font-size: 14px; border: 1px solid var(--gray); font-weight: 400; height: auto; padding: 0.8rem 0.6rem; outline: 0; width: 100%; color: var(--light-black, #6A6A6A); appearance: revert; }
.pmu-search-filter textarea.form-control {background: var(--gray); border-radius: 5px; font-size: 14px; border: 1px solid var(--gray); font-weight: 400; height: auto; padding: 0.8rem 0.94rem; outline: 0; width: 100%; display: inline-block; color: var(--light-black, #6A6A6A); }
.pmu-search-filter .form-control:focus {border: 1px solid var(--gray); }
.search-form-group {position: relative; } 
.search-form-group input.form-control {padding-right: 2rem; } 
.search-form-group span.search-icon {position: absolute; right: 10px; top: 7px; }
a.Create-btn {border-radius: 5px; background: var(--yellowbtn, #261313); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase; width: 100%; display: inline-block; position: relative; outline: none; }
button.Create-btn {border-radius: 5px; background: var(--yellowbtn, #261313); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase; width: 100%; display: inline-block; position: relative; outline: none; border: none;}
a.btn-go {width: 42px; height: 42px; border: 1px solid var(--yellowbtn); display: inline-block; text-align: center; line-height: 40px; border-radius: 5px; background: var(--yellowbtn); color: var(--white, #FFF); }



.manage-notification-item {background: var(--gray); display: flex; align-items: center; box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); padding:1rem; border-radius: 10px; position: relative; margin-bottom: 1rem; }
.manage-notification-content {flex: 1; }
.notification-descr{margin-bottom: 10px;}
.notification-descr h2 {font-size: 18px; font-weight: 600; margin: 0; padding: 0; color: var(--yellowlight); line-height: 24px; }
.notification-descr h3 {font-size: 14px; font-weight: 500; margin: 0; background: var(--yellow); color: var(--white); display: inline-block; padding: 5px 10px; border-radius: 5px; }
.notification-descr p {font-size: 14px; font-weight: normal; margin: 0; padding: 0; color: var(--yellowlight); line-height: 24px; }

.notification-tag h3 {font-size: 14px; font-weight: 600; margin: 0; padding: 0; color: var(--yellowlight); line-height: normal; }
.tags-list {width: 100%; position: relative; margin-top: 10px; }
.Tags-text {display: inline-block; border-radius: 50px; padding: 5px 15px; line-height: normal; font-size: 12px; color: #455A64; background: #fcfcfc; }

.notification-date {font-size: 13px; margin: 0 0 10px 0; color: var(--yellowlight); line-height: 24px; font-weight: normal; }

.manage-notification-icon {width: 64px; height: 64px; background:var(--body); text-align: center; line-height: 64px; border-radius: 50px; margin-right: 20px; } 
.manage-notification-icon img {width: 32px; height: 32px; }

.manage-notification-image {width: 210px; height: 210px; margin-right: 20px; overflow: hidden; position: relative; border-radius: 5px; }

.manage-notification-image img{width: 100%; height: 100%; object-fit: cover;}


.notification-create-form {border-radius: 10px; background: #FFF; box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.05); position: relative; padding: 10px; }
.notification-create-form {padding: 1rem; }
.notification-create-form .form-group {margin-bottom: 1rem; }
.notification-create-form .form-group h4{font-size: 14px; font-weight: 600; margin: 0 0 0px 0; padding: 0; color: var(--lightblack, #6A6A6A); }
.notification-create-form .form-group input.form-control {background:var(--white); border-radius: 5px; font-size: 14px; font-weight: 400; height: auto; padding: 10px; box-shadow:none; outline: 0; width: 100%; display: inline-block; color: #455A64; border: 1px solid #eee; }
.notification-create-form .form-group select.form-control  {background:var(--white); border-radius: 5px; font-size: 14px; font-weight: 400; height: auto; padding: 10px; box-shadow:none; outline: 0; width: 100%; display: inline-block; color: #455A64; border: 1px solid #eee; appearance: revert; }
.notification-create-form .form-group textarea.form-control{background:var(--white); border-radius: 5px; font-size: 14px; font-weight: 400; height: auto; padding: 10px; box-shadow:none; outline: 0; width: 100%; display: inline-block; color: #455A64; border: 1px solid #eee; }
.notification-create-form .form-group .form-control:focus {border: 1px solid var(--yellow); }
  


.upload-signature label {width: 100%; border: 1px dashed #e0b220; border-radius: 5px; padding: 10px; color: #e0b220; text-align: center; font-size: 14px; }
.addsignature {width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
.addsignature:focus + label, .addsignature.has-focus + label, 
.addsignature + label:hover {color:var(--yellow) #E0B220; }
.addsignature + label figure {width: 100px; height: 100px; border-radius: 50%; background-color: #d3394c; display: block; padding: 20px; margin: 0 auto 10px; }
.upload-file span {font-size: 14px; letter-spacing: 0; color: #455A64; white-space: nowrap; text-align: left; }


.cancelbtn{border-radius: 5px; background: var(--yellowbtn, #261313); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase;  border: none;display: inline-block; position: relative; outline: none; }
.Createbtn{border-radius: 5px; background: var(--yellowbtn, #261313); padding: 15px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase;border: none; display: inline-block; position: relative; outline: none; }

.manage-notification-filter {border-radius: 10px; background: #FFF; box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.05); position: relative; padding: 10px; }
.manage-noti-item{margin-bottom: 10px;}
.manage-noti-item h2 {font-size: 16px; font-weight: 600; margin:0 0 10px 0; padding:0; color: var(--lightblack); }

.manage-noti-item {margin-bottom: 1rem; border: 1px solid #eee; padding: 10px; border-radius: 10px; } 
ul.managenotification-list {margin: 0; padding: 0; list-style: none; }
ul.managenotification-list li {margin-bottom: 10px;}

.pmu-radio label {position: relative; display: inline-block; padding: 0 0 0 2em; margin-bottom: 0; cursor: pointer; font-size: 14px; }

 .pmu-radio label::before, 
 .pmu-radio label::after {position: absolute; top: 0; left: 0; display: block; width: 24px; height: 24px; } 
 .pmu-radio label::before {content: " "; border: 2px solid #e5eaed; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; } 
 .pmu-radio input[type="radio"] {position: absolute; opacity: 0; z-index: -1; margin: 0; } 
 .pmu-radio input[type="radio"] + label::after {content: ""; top: 4px; left: 4px; width: 16px; display: none; height: 16px; position: absolute; border-radius: 100%; background-color: #e0b220; } 
 .pmu-radio input[type="radio"]:checked + label::before {border-color: #261313; } 
 .pmu-radio input[type="radio"]:checked + label::after {display: block; }

.ChooseContent-item select.form-control  {background:var(--white); border-radius: 5px; font-size: 14px; font-weight: 400; height: auto; padding: 10px; box-shadow:none; outline: 0; width: 100%; display: inline-block; color: #455A64; border: 1px solid #eee; appearance: revert; }
a.add-more {background: var(--brown); color: var(--white); text-transform: uppercase; padding: 10px 30px; border: none; display: inline-block; font-size: 14px; border-radius: 5px; box-shadow: 0 4px 28px rgb(168 91 91 / 21%); }