/*----------------------------
         Add CSS file
----------------------------*/
@import "../../assets/website-plugins/bootstrap/css/bootstrap.min.css";
/*@import "../plugins/Iconsax/css/style.css";*/




@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*----------------------------
   element      
----------------------------*/

:root {
   --pink:#B600F8;
   --black:#040706;
   --lightblack:#040706;
   --gray:#1e1e1e;
   --red: #E32121;
   --redlight:#f7dadb;
   --yellowlight:#fdf5dc;
   --green:#289C53;
   --white: #ffffff;
   --graylight: #F7F7F7;
   --body:#FDF6FF;
   --yellow:#e27d20;
   --yellowbtn:#f28520;
   --scrollbarBG:#1e1e1e;
   --thumbBG:#E0B220;
   --inputline: #3e3c3c;
   --smalltext: #8C9AA1
 }


.ro-modal button.btn-close {position: absolute; right: 15px; top: 15px; }

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html { text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;}
*{margin:0; padding:0}
a{ text-decoration:none; color: var(--brown);}
a:hover{ text-decoration:none !important;}
header, nav, section, article, aside, footer { display:block;}
html {font-size: 100%;}
body {font-size: 12px; background:var(--body);font-family: 'League Spartan', sans-serif;line-height: 26px;color:#455A64;-webkit-font-smoothing: antialiased;font-weight: normal;}
h1, h2, h3, h4, h5, h6 {padding: 5px 0 15px 0;color: #455A64;-webkit-font-smoothing: antialiased;}
:-ms-input-placeholder{color: #000;}
.wd10{width: 10%;}
.wd20{width: 20%;}
.wd30{width: 30%;}
.wd40{width: 40%;}
.wd50{width: 50%;}
.wd60{width: 60%;}
.wd70{width: 70%;}
.wd80{width: 80%;}
.wd90{width: 90%;}
.wd100{width:100%;}
/*----------------------------
   header      
----------------------------*/


.header {width: 100%; padding: 5px 30px; position: relative; background:var(--brown); } 
.logo {margin-bottom: 0; }
.logo img {height: 70px; }





/*----------------------------
   sidebar      
----------------------------*/
.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 225px;
   height: 100vh;
   overflow-y: auto;
   transition: 0.5s;
   z-index: 999;
   box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
   border: 0;
   border-radius: 0;
   background: #1e1e1e;
}
.sidebar nav.navbar {
   padding: 0;
}

.sidebar-logo {border-bottom: 1px solid #3d3c3e;position: relative;padding: 0.5rem;text-align: center;width: 100%;}
.sidebar-logo img{height: 50px;}
ul.sidebar-navbar-list {margin: 0; padding: 0; list-style: none; }

.sidebar .nav { flex-wrap: nowrap; flex-direction: column; margin-bottom: 20px; margin-top: 20px; margin-left: 0; margin-right: 0; }
.sidebar a.nav-item.nav-link {display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;white-space: nowrap;padding: 0.5rem 0.5rem 0.5rem 0.5rem;color: #fff;-webkit-transition: 0.5s;transition: 0.5s;} .sidebar .nav .nav-item .nav-link img {margin-right: 10px;width: 20px;}
.sidebar a.nav-item.nav-link .menu-title {color: inherit;display: inline-block;font-size: 13px;line-height: 1;vertical-align: middle;}
.menu-icon {width: 25px;margin-right: 10px;font-size: 16px;}
.sidebar .nav li.nav-item.active {-webkit-transition: 0.5s;transition: 0.5s;background: url(../images/active.svg); background-position: left center; background-repeat: no-repeat; background-size: 10px; }
.sidebar .nav li:hover{-webkit-transition: 0.5s;transition: 0.5s;background: url(../images/active.svg); background-position: left center; background-repeat: no-repeat; background-size: 10px; }
 


.sidebar .navbar .navbar-nav .nav-link {
    border-left: 3px solid transparent;
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: #f28520;
    border-color: var(--primary);
}


.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

/*----------------------------
   header      
----------------------------*/
.header-1 {width: 100%; padding: 5px 30px; position: relative; }
.header-1 .navbar{padding: 0}
.navbar-menu-wrapper {align-items: center; justify-content: space-between; display: flex; width: 100%; }
.navbar-menu-wrapper .navbar-nav {flex-direction: row; }
.profile-pic {height: 40px; overflow: hidden; background: #fff; width: 40px; text-align: center; border-radius: 8px; box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); }
.profile-pic img{width: 100%; height: 100%; object-fit: cover;}
.profile-dropdown .dropdown-toggle::after{content: inherit;}
.noti-dropdown .dropdown-toggle::after{content: inherit;}
.header-1 .navbar .dropdown-menu {position: absolute; font-size: 0.9rem; margin-top: 0; right: 0; left: auto; top: 50px; border: none; box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); width: 300px; padding: 0; background: #ffffff; }
.header-1 .navbar .dropdown-menu a.dropdown-item {font-size: 13px;font-weight: 500;color: #455a64;border-radius: 5px;}
.header-1 .navbar .dropdown-menu a.dropdown-item.active, 
.header-1 .navbar .dropdown-menu a.dropdown-item:active, 
.header-1 .navbar .dropdown-menu a.dropdown-item:focus, 
.header-1 .navbar .dropdown-menu a.dropdown-item:hover {color: #ffffff; text-decoration: none; background-color: #004a8e; }

.noti-icon {    margin-right: 10px;position: relative; background: var(--gray); width: 40px; text-align: center; border-radius: 7px; box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); height: 40px; padding: 7px; }
.noti-icon i {font-size: 30px;color: #ffcc00;} 
.noti-icon .noti-badge {position: absolute; top: 4px; right: 5px; width: 15px; background: #0a5496; height: 15px; border-radius: 50%; border: 3px solid #FFE60A; }
.bx-tada {-webkit-animation: tada 1.5s ease infinite; animation: tada 1.5s ease infinite; } 
.bx-tada-hover:hover {-webkit-animation: tada 1.5s ease infinite; animation: tada 1.5s ease infinite; }
@-webkit-keyframes tada {from {-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } 10%, 20% {-webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg); transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg); } 30%, 50%, 70%, 90% {-webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg); transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg); } 40%, 60%, 80% {-webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg); transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg); } to {-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } } 
@keyframes tada {from {-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } 10%, 20% {-webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg); transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg); } 30%, 50%, 70%, 90% {-webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg); transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg); } 40%, 60%, 80% {-webkit-transform: rotate3d(0, 0, 1, -10deg); transform: rotate3d(0, 0, 1, -10deg); } to {-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } }
/*----------------------------
   wrapper      
----------------------------*/
.body-wrapper {min-height: calc(100vh); margin-left: 224px; width: calc(100% - 224px); position: relative; -webkit-transition: 0.5s; transition: 0.5s; background: var(--black);}
.main-site.toggled .body-wrapper {margin-left: 0; width: 100%; } 
.main-site.toggled .sidebar-wrapper {-webkit-transition: all 0.3s ease; transition: all 0.3s ease; margin-left: -230px; }
.body-main-content{padding: 1rem;}




/*----------------------------
   table      
----------------------------*/
.pmu-table-card table {border:none; }

 .pmu-table-card .table>:not(:first-child) {border-top: 1px solid #26231a; }
.pmu-table-card table thead{background: var(--gray);}
.pmu-table-card table tr th {font-size: 14px;font-weight: 600;color:var(--white);padding: 8px;border-top:none;border-bottom: 1px solid var(--gray) !important;}
.pmu-table-card table tr td {vertical-align: middle;font-size: 13px;font-weight: 500;color:var(--white);padding: 8px;border-bottom: 1px solid var(--gray);}
.sno {background: var(--gray);width: 30px;height: 30px;display: inline-block;text-align: center;line-height: 30px;font-size: 14px;font-weight: 600;border-radius: 5px;color: var(--white);}
.pmu-table-card{position: relative;border-radius: 10px;padding: 1rem;box-shadow: 0px 8px 13px rgb(0 0 0 / 5%);background: var(--gray);}
.pmu-table-card .table>:not(:last-child)>:last-child>* {border-bottom-color: var(--gray); }
.pmu-table-card table tr th:first-child{border-radius: 5px 0px 0px 0px; }
.pmu-table-card table tr th:last-child {border-radius: 0px 5px 0px 0px; }

.pmu-table-card table tr td:first-child{border-left:1px solid var(--gray); }
.pmu-table-card table tr td:last-child {border-right:1px solid var(--gray);}


/*----------------------------
   pagination      
----------------------------*/
.pmu-table-pagination {padding: 10px 0 0 0; }
ul.pmu-pagination {display: flex;padding-left: 0;list-style: none;margin: 0;}
ul.pmu-pagination li a.page-link {color:var(--black);background:var(--yellowbtn);position: relative;display: block;padding: 5px 15px;font-size: 14px;margin: 2px;border-radius: 5px;}
ul.pmu-pagination li.active a.page-link {color:var(--white);background:var(--yellowbtn);}
ul.pmu-pagination li.disabled a.page-link {color:var(--black);pointer-events: none;background:var(--body);}

.pmu-table-pagination {padding: 10px 0 0 0; }
ul.pagination {display: flex;padding-left: 0;list-style: none;margin: 0;}
ul.pagination li a.page-link {color:var(--white);background:var(--gray);position: relative;display: block;padding: 5px 15px;font-size: 14px;margin: 2px;border-radius: 5px; border-color: var(--gray);}
ul.pagination li span.page-link {color:var(--white);background:var(--gray);position: relative;display: block;padding: 5px 15px;font-size: 14px;margin: 2px;border-radius: 5px; border-color: var(--gray);}
ul.pagination li.active span.page-link {color:var(--white);background:var(--yellowbtn);}
ul.pagination li.active a.page-link {color:var(--white);background:var(--yellowbtn);}
ul.pagination li.disabled span.page-link {color:var(--white);pointer-events: none;background:var(--gray);}
ul.pagination li.disabled a.page-link {color:var(--white);pointer-events: none;background:var(--gray);}



.noti-dropdown .dropdown-toggle::after {

   content: inherit;

}

.notification-head{padding: 10px; position: relative;}



.notification-head h2 {

   font-size: 16px;

   margin: 0;

   color: #343a40;

   padding: 0;

   font-weight: 600;

}.notification-body {

   overflow: auto;

   height: 260px;

}

.notification-foot {

   background: #e1edff;

   text-align: center;

   padding: 10px 15px;

   display: inline-block;

   width: 100%;

}

.notification-foot a{color:#28a745}

.noti-dropdown .dropdown-menu-right{

   right: 0;

   left: inherit;

   border: none;

}





.notification-item {display: flex; padding: .75rem 1rem; }

.notification-item:hover{background-color:#f4f6f9;}



.notification-item-icon {

   width: 32px;

   height: 32px;

   line-height: 32px;

   background: #fce9e5;

   margin-right: 10px;

   text-align: center;

   border-radius: 50%;

   color: #fc4a26;

}.notification-item-text {

   flex: 1;

}.notification-item-text h2 {

   font-size: 14px;

   margin: 0 0 10px 0;color: #343a40;

   padding: 0;

}.notification-item-text p {

   font-size: 12px;

   color: #bcc4cf;

   margin: 0;

}