.pmu-filter-section {display: flex; justify-content: space-between; margin-bottom: 1rem; }

.pmu-filter-heading h2 {font-size:24px; font-weight: 600; margin: 0; padding: 0; color:var(--lightblack); }

.pmu-search-filter input.form-control {background: var(--white, #FFF); border-radius: 5px; font-size: 13px; border: 1px solid var(--white, #FFF); font-weight: 400; height: auto; padding: 0.6rem 0.6rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: var(--light-black, #6A6A6A); }
.pmu-search-filter select.form-control {background: var(--white, #FFF); border-radius: 5px; font-size: 14px; border: 1px solid var(--white, #FFF); font-weight: 400; height: auto; padding: 0.8rem 0.6rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; color: var(--light-black, #6A6A6A); appearance: revert; }
.pmu-search-filter textarea.form-control {background: var(--white, #FFF); border-radius: 5px; font-size: 14px; border: 1px solid var(--white, #FFF); font-weight: 400; height: auto; padding: 0.8rem 0.94rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: var(--light-black, #6A6A6A); }
.pmu-search-filter .form-control:focus {border: 1px solid #f28520; }
.search-form-group {position: relative; } 
.search-form-group input.form-control {padding-right: 2rem; } 
.search-form-group span.search-icon {position: absolute; right: 10px; top: 7px; }
.newcourse-btn {border-radius: 5px; background: var(--brown, #261313); box-shadow: 0px 4px 12px 0px rgba(182, 0, 248, 0.06); padding: 12px 20px; color: var(--white, #FFF); text-align: center; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; text-transform: uppercase; width: 100%; display: inline-block; position: relative; outline: none; }



.Overview-card{position: relative; background:var(--white); border-radius:0 0  5px 5px; box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.05); margin-bottom: 1rem; }
.pmu-course-media{width: 100%; height: 215px; position: relative; overflow: hidden; border-radius: 15px 15px 0 0; } 
.pmu-course-media img {width: 100%; height: 100%; object-fit: cover; }
.pmu-video-icon {position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; background: rgb(0 0 0 / 30%); display: flex; align-items: center; }



.pmu-tab-nav {background: var(--brown); margin-bottom: 0; border-radius: 5px 5px 0 0; padding: 10px }
.pmu-tab-nav .nav.nav-tabs{border-bottom: none;}
.pmu-tab-nav .nav.nav-tabs .nav-item .nav-link {font-size: 14px; text-transform: uppercase; color: var(--white);border-bottom: 2px solid transparent; !important;border: none;  }
.pmu-tab-nav .nav.nav-tabs .nav-item .active.nav-link,
.pmu-tab-nav .nav-tabs .nav-link:focus, 
.pmu-tab-nav .nav-tabs .nav-link:hover{border-bottom: 2px solid var(--yellow) !important; border-radius: 0; border: none; color: var(--yellow); }


.Overview-card-content{padding:1rem; border-bottom: 2px solid  var(--body);}

.Overview-info-card h2 {color: var(--lightblack, #6A6A6A); font-size: 16px; font-style: normal; font-weight: 500; line-height: normal; margin: 0 0 10px 0; padding: 0; } 
.Overview-price {color: var(--lightblack, #6A6A6A); font-size: 22px; font-weight: bold; line-height: 22px; margin: 0; padding: 0; } 
.overview-date {color: var(--lightblack, #6A6A6A); font-size: 14px; font-style: normal; font-weight: 400; line-height: 24px; text-align: justify; } 
.Overview-info-card {/*padding: 1rem; background: var(--body); */ border-radius: 10px; position: relative; }
.Overview-value {color: var(--lightblack, #6A6A6A); font-size: 22px; font-weight: bold; line-height: 22px; margin: 0; padding: 0; }

.Overview-rating {display: inline-block; padding: 5px; background: var(--yellow); color: #fff; border-radius: 5px; line-height: normal; text-transform: uppercase; font-weight: 600; }
.Overview-rating img{vertical-align: bottom;}
 .Overview-form-card input.form-control {background: var(--white, #FFF); border-radius: 5px; font-size: 14px; border: 1px solid var(--brown); font-weight: 400; height: auto; padding: 0.8rem 0.6rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; color: var(--light-black, #6A6A6A); appearance: revert; }
 .Overview-form-card select.form-control {background: var(--white, #FFF); border-radius: 5px; font-size: 14px; border: 1px solid var(--brown); font-weight: 400; height: auto; padding: 0.8rem 0.6rem; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; color: var(--light-black, #6A6A6A); appearance: revert; }